<%- layout('/boilerplate/boilerplate2.ejs') %>
    <main  style="padding-top: 8%;">
        <h1 class="text-center text-capitalize"><%=data.name%> Clubs <span class="lead">[Faculty coordinator:-<%= data.clubCoordinator.name %>]</span></h1>
        <hr>
        <div class="cultural px-5 py-3 m-3 rounded" style="background-color: rgba(69, 173, 69, 0.8);;">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 bg-success"><%=data.name%>  Clubs <span
                            class="text-body-secondary"></span></h2>
                    <p class="lead">The club aims to promote exposure and to increase the awareness of the students
                        towards the finer arts of the world. From dramatics to literature, from poetry to music and
                        dance, this is the place to come and experience it all. The club also acts as a forum to improve
                        one’s communication skills, expressivity and critical thinking power. Various enjoyable events
                        are conducted under this club which not only entertain but also enrich our understanding of
                        various different cultures and practices and introduce us to new exotic art forms from around
                        the globe!</p>
                    <div class="py-5">
                        <h4>Student coordinator:- Ankit Kumar (Bca2nd year)</h4>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                        height="300" src="/images/organizing.jpeg" alt="error">
                </div>
            </div>
        </div>

        <div class="art  px-5 py-3 m-3 rounded">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 bg-danger">Art Club<span
                            class="text-body-secondary"></span></h2>
                    <p class="lead">Art has an important role in development of mankind. The integration of one's
                        thinking and its expression makes a perfect art. It is equivalent to a communicating language
                        which can convey various feelings and emotions of not only mankind but each and every living and
                        non-living thing. Art competition with a theme enhances people to explore under that topic and
                        can also bring out the result of team work. It enriches our inner world. Art plays an important
                        role in invoking one's feelings towards each aspects and
                         acts as their voice.</p>
                    <div class="py-5">
                        <h4>Student coordinator:- Nishant Negi And Manpreet Singh(Bca2nd year)</h4>
                    </div>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                        height="300" src="/images/art.jpeg" alt="error">
                </div>
            </div>
        </div>

        <!-- next2 -->
        <div class="music px-5 py-3 m-3 rounded" style="background-color: rgba(69, 173, 69, 0.8);;">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 bg-success">Music Clubs <span
                            class="text-body-secondary"></span></h2>
                    <p class="lead">Music is a way for students to achieve "eternal peace" , after a hard day at the academics. Which peps up the moods and energies of everyone present at its events.
                        This club encourages each and every student, pro or novice , to take part in its events . In this way this club has become a very supportive ladder for the students to reach the peaks of their cultural talents.
                        The Euphony conducts regular events which include solo and group singing competitions.  The group event comprises of exciting group clashes where a group intones the challenge set by the opponent group.
                        The club boasts of the maximum participation than any other club, making it the best platform to familiarise oneself with one's peers. The best part of euphony is the absence of inequity between the seniors and the juniors. Every new event takes this bond to a higher level.</p>
                    <div class="py-5">
                        <h4>Student coordinator:- Mayank Parasher(Bca2nd year)</h4>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                        height="300" src="/images/music.jpeg" alt="error">
                </div>
            </div>
        </div>

        <div class="dance  px-5 py-3 m-3 rounded">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 bg-danger">Dance Club<span
                            class="text-body-secondary"></span></h2>
                    <p class="lead">Art has an important role in development of mankind. The integration of one's
                        thinking and its expression makes a perfect art. It is equivalent to a communicating language
                        which can convey various feelings and emotions of not only mankind but each and every living and
                        non-living thing. Art competition with a theme enhances people to explore under that topic and
                        can also bring out the result of team work. It enriches our inner world. Art plays an important
                        role in invoking one's feelings towards each aspects and acts as their voice.</p>
                    <div class="py-5">
                        <h4>Student coordinator:- Aman Mishra(Bca2nd year)</h4>
                    </div>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                        height="300" src="/images/dance.jpeg" alt="error">
                </div>
            </div>
        </div>

        <!-- next2  -->
        <div class="Photography px-5 py-3 m-3 rounded" style="background-color: rgba(69, 173, 69, 0.8);;">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 bg-success">Photography Clubs <span
                            class="text-body-secondary"></span></h2>
                    <p class="lead">The photography club takes up one of the most important responsibilities on our campus: the preservation of memories. Any events that our college participates in or conducts - on or off campus - the photography club covers for us. The club trains it's members in the art of taking skilled photographs, and organises several competitions throughout the year. Their photos are often featured in the college magazine.</p>
                    <div class="py-5">
                        <h4>Student coordinator:- Jatin(Bca2nd year)</h4>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                        height="300" src="/images/photo.jpeg" alt="error">
                </div>
            </div>
        </div>

        <div class="Literature  px-5 py-3 m-3 rounded">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 bg-danger">Literature Club<span
                            class="text-body-secondary"></span></h2>
                    <p class="lead">The Literature Club or as fondly known by the students as the ILLITERATI is one of the best places to go and refresh yourself after a long, tiring day. Nothing beats unwinding after a tough day like reading poetry, novels or even drama and savouring each written word as it was meant to be. Even better than reading another’s work is to write your own literary masterpiece for the world to appreciate. Spending time and having long enriching discussions on various day to day topics with like-minded people is a joy in itself! Illitertati gives you the perfect platform to achieve all of the above and even more!</p>
                    <div class="py-5">
                        <h4>Student coordinator:-Shivam (Bca1st year)</h4>
                    </div>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                        height="300" src="/images/literature.jpeg" alt="error">
                </div>
            </div>
        </div>

        <div class="drama px-5 py-3 m-3 rounded" style="background-color: rgba(69, 173, 69, 0.8);;">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1 bg-success">Drama Clubs <span
                            class="text-body-secondary"></span></h2>
                    <p class="lead">The photography club takes up one of the most important responsibilities on our campus: the preservation of memories. Any events that our college participates in or conducts - on or off campus - the photography club covers for us. The club trains it's members in the art of taking skilled photographs, and organises several competitions throughout the year. Their photos are often featured in the college magazine.</p>
                    <div class="py-5">
                        <h4>Student coordinator:- Nikita(Bca3nd year)</h4>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                        height="300" src="/images/drama.jpeg" alt="error">
                </div>
            </div>
        </div>

        <section class="footer">
            <!-- Footer -->
            <footer class="text-center text-white">
              <!-- Grid container -->
              <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                  <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3 ">JOIN CULTURAL CLUB</span>
                    <a data-mdb-ripple-init href="/join/<%=data.id%>/add " class="btn btn-outline-light btn-rounded">
                      JOIN NOW
                    </a>
                  </p>
                </section>
                <!-- Section: CTA -->
              </div>
              <!-- Grid container -->
          
              <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="https://github.com/khaynikita">khaynikita</a>
              </div>
              <!-- Copyright -->
            </footer>
            <!-- Footer -->
          </section>
        </main>
