<%- layout('/boilerplate/boilerplate2.ejs') %>
<style>
    .bg{
        background-image: url('https://i.pinimg.com/564x/8b/6c/a7/8b6ca7238ff47ae4a7290693eefcd3ac.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: .5em;
    }
    /* *{
        letter-spacing: 3px;
    } */
</style>

<main style="padding: 6% 0;">
    <section class="my-3 px-4 container-md">
        <% data.forEach(x => { %>
            <div class="row bg text-black py-3 my-3">
                <div class="col">
                    <div class=" border-bottom border-dark">
                        <p class="text-capitalize h3">Title: <%=x.title%></p>
                        <p class="h5">Author: <%=x.author.username%></p>
                        <p class="text-dark"><%=x.date%></p>
                    </div>
                    <div class="">
                        <p>
                            <%=x.data%>
                        </p>
                    </div>
                </div>
                
            </div>
        <% }) %>
</main>