<%- layout('/boilerplate/boilerplate2.ejs') %>

    

   
    <main  style="padding-top: 8%; margin-bottom: 8%;">
        <h1 class="text-center text-capitalize"><%=data.name%> Club <span class="lead">[Faculty coordinator:-<%= data.clubCoordinator.name %>]</span></h1>
        <hr>

        <div class="art  px-5 py-3 m-3 rounded">
            <div class="row featurette">
              
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 bg-danger text-capitalize"><%=data.name%> CLUB<span
                            class="text-body-secondary"></span></h2>
                            <div class="accordion" id="accordionExample">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Accordion Item #1
                                  </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Accordion Item #2
                                  </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                  </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                  </div>
                                </div>
                              </div>
                            </div>

                </div>
                <div class="col-md-5 order-md-1 text-center d-inline">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/tech.jpg" alt="error">
                </div>
            </div>
        </div>

      </main>
        <section class="footer">
            <!-- Footer -->
            <footer class="text-center text-white">
              <!-- Grid container -->
              <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                  <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3 ">JOIN CULTURAL CLUB</span>
                    <a data-mdb-ripple-init href="/join/<%=data.id%>/add" class="btn btn-outline-light btn-rounded">
                      JOIN NOW
                    </a>
                  </p>
                </section>
                <!-- Section: CTA -->
              </div>
              <!-- Grid container -->
          
              <!-- Copyright -->
              <div class="text-center mt-5 p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="https://github.com/khaynikita">khaynikita</a>
              </div>
              <!-- Copyright -->
            </footer>
            <!-- Footer -->
          </section>
    